html {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Global Styles - Light Mode (Default) */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

/* Container */
.contenedor {
    width: 80%;
    margin: auto;
}

/* Header and Footer - Light Mode */
header, footer {
    color: #000000;
    text-align: center;
    padding: 1rem;
    background-color: inherit;
}

footer {
    font-size: small;
    margin-top: auto;
}

/* Headings - Light Mode */
h1, h2, .subtitulo {
    font-size: 30px;
    color: #0056b3; /* Azul para títulos y subtítulos en modo claro */
}

.subtitulo {
    font-weight: bold;
    color: #0056b3; /* Azul para subtítulos en modo claro */
}

/* Dark Mode Styles */
html.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

html.dark-mode footer {
    color: #ffffff;
}

/* Headings - Dark Mode */
html.dark-mode h1, html.dark-mode h2, html.dark-mode .subtitulo {
    color: #b055fa; /* Morado para títulos y subtítulos en modo oscuro */
}

/* Section */
section {
    padding: 40px 0;
    text-align: justify;
}

/* Links - Light Mode */
a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    color: #6c93ba;
}

/* Links - Dark Mode */
html.dark-mode a {
    color: #d59def;
}

html.dark-mode a:hover {
    color: #b055fa;
}

/* Social Media Icons */
.contenedor-imagenes {
    position: fixed;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: row;
}

.GitHub, .Linkedin  {
    margin-right: 10px;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.mode-icon, .home{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column; /* Cambiado para alinear imagen y texto verticalmente */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.pfp-container {
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

.pfp {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

/* Text Container */
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 36px; /* Estilo del título */
}

/* Typing Animation */
#holder {
    color: #0056b3;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    /*border-right: 3px solid #0056b3;*/
    width: 0;
    animation: typing 3s steps(30) 1s forwards/*, blink-caret 0.75s step-end infinite*/;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* Subtitle */
.subtitulo {
    font-weight: bold;
    color: #0056b3;
}

/* Links */
a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    color: #6c93ba;
}

/* Dark Mode Styles */
html.dark-mode #holder {
    color: #b055fa;
}

html.dark-mode .subtitulo {
    color: #b055fa;
}

html.dark-mode a {
    color: #d59def;
}

html.dark-mode a:hover {
    color: #b055fa;
}

/* Idiomas Section - Light Mode */
.idiomas {
    font-size: larger;
}

#reloj {
    top: 10px;              /* Espacio desde la parte superior */
    left: 10px;             /* Espacio desde la parte izquierda */
    font-size: 1.5rem;      /* Tamaño de fuente ajustable */
    font-weight: bold;
    color: #0056b3;         /* Color del texto */
    padding: 5px 10px;      /* Espaciado interno */
    z-index: 1000;          /* Asegura que esté sobre otros elementos */
}

/* Estilos en modo oscuro */
html.dark-mode #reloj {
    color: #b055fa;         /* Color morado para el modo oscuro */
}
