html {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Global Styles - Light Mode (Default) */
body {
    /*background-color: #ffffff;*/
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*color: #000000;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    /* transition: background-color 0.5s ease-in; */
}

/* Container */
.contenedor {
    width: 80%;
    margin: auto;
}

/* Header and Footer - Light Mode */
header, footer {
    color: #000000;
    text-align: center;
    padding: 1rem;
    background-color: inherit;
}

footer {
    font-size: small;
    margin-top: auto;
}

/* Headings - Light Mode */
h1, h2, .subtitulo {
    font-size: 30px;
    color: #0056b3; /* Azul para títulos y subtítulos en modo claro */
}

.subtitulo {
    font-weight: bold;
    color: #0056b3; /* Azul para subtítulos en modo claro */
}

/* Dark Mode Styles */

html.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

html.dark-mode footer {
    color: #ffffff;
}


/* Headings - Dark Mode */
html.dark-mode h1, html.dark-mode h2, html.dark-mode .subtitulo {
    color: #b055fa; /* Morado para títulos y subtítulos en modo oscuro */
}

/* Section */
section {
    padding: 40px 0;
    text-align: justify;
}

/* Links - Light Mode */
a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    color: #6c93ba;
}

/* Links - Dark Mode */
html.dark-mode a {
    color: #d59def;
}

html.dark-mode a:hover {
    color: #b055fa;
}

/* Social Media Icons */
.contenedor-imagenes {
    position: fixed;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: row;
}

.GitHub, .Linkedin, .home {
    margin-right: 10px;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.mode-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pfp {
    width: 140px;
    height: auto;
    margin-right: 10px;
    border-radius: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

/* Idiomas Section - Light Mode */
.idiomas {
    font-size: larger;
    color: black;
}

/* Idiomas Section - Dark Mode */
html.dark-mode .idiomas {
    color: white;
}
