body {
    background-image: url(Archivos/background_img.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: justify;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    left: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #9e9e9e;
}

section {
    padding: 30px;
}

form {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    border-style: solid;
    border-radius: 2%;
    border-color: #333;
    padding: 5%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
} 

iframe {
    width: auto;
    height: 200px;
    margin-bottom: 20px;
}

dl {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

dt {
    font-size: 20px;
    margin-top: 20px;
}

dd {
    margin-top: 10px;
}

img {
    max-width: 300px;
    height: 200px;
    border-radius: 5px;
}

.img_rss {
    padding-right: 30px;
    float: right;
    width: 50px;
    height: 50px;
}

.gallery {
    background-color: white;
    border-style: solid;
    border-radius: 12px;
    border-color: #333;
    margin: 50px;
    padding: 40px;
    width: 180px;
}
.gallery h3{
    text-align: center;
    min-height: 40px;
}

  
.desc {
    padding: 15px;
    text-align: center;
}

.img_gallery {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.gallery img{
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
}

table, th, td{
    border: 2px solid;
    border-collapse: collapse;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.tabla {
    margin: 0 auto;
    width: 75%;
}

.top {
    background-color: white;
}

.top a{
    color: blue;
}

.top a:hover {
    color: rgb(144, 144, 254);
}

.tabla-destinos {
    background-color: white;
    text-align: center;
}

.tabla-destinos a{
    color: violet;
}

.tabla-destinos a:hover{
    color: rgb(239, 180, 239);
}

.titulo, .funcionamiento{
    background-color: white;
}

dd, dt, .destinos {
    background-color: white;
    padding: 2%;
    border-style: solid;
    border-radius: 12px;
    border-color: #333;
}
dt{
    font-weight: bold;
}
dl div{
    display:flex;
    flex-direction: row;
    text-align: center;
}

dd {
    width: 30%;
}

/* Pantallas pequeñas */
@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery {
        margin: 20px auto;
        width: 90%;
        max-width: 300px;
        text-align: center;
    }

    .gallery h3 {
        font-size: 24px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    table {
        width: 90%;
        margin: 20px auto;
        overflow-x: auto;
    }
    
}